<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
	<p>create a user below:</p>
    <form action="/users/new" method="post">
		
		<input type="text" name="username" placeholder="username" required><br>
		<input type="text" name="firstName" placeholder="first name"><br>
		<input type="text" name="lastName" placeholder="last name"><br>
		<input type="text" name="email" placeholder="email" required><br>
		<input type="submit" value="create">
		
	</form>
  </body>
</html>
